<%= form_with(model: @user, local: true) do |f| %>
 <%= render 'shared/error_messages', object: @user %>

  <%= f.label :name, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :name, class: "form-control" %>

  <%= f.label :email, class: "label-#{yield(:class_text)}" %>
  <%= f.email_field :email, class: "form-control" %>
  
  <%= f.label :line_id, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :line_id, class: "form-control" %>
  
  <%= f.label :bike, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :bike, class: "form-control" %>
  
  <%= f.label:displacement, class: "label-#{yield(:class_text)}" %>
  <%= f.number_field :displacement, class: "form-control" %>
  
  <div>
    <%= f.label:intercom, class: "label-#{yield(:class_text)}" %>
    <%= f.check_box :intercom %>
  </div>

  <div>
    <%= f.label:etc, class: "label-#{yield(:class_text)}" %>
    <%= f.check_box :etc %>
  </div>
  
  <div>
    <%= f.label:navi, class: "label-#{yield(:class_text)}" %>
    <%= f.check_box :navi %>
  </div>
  
  <%= f.label:continuous_cruising_distance, class: "label-#{yield(:class_text)}" %>
  <%= f.number_field :continuous_cruising_distance, class: "form-control" %>
  
  <%= f.label :password, class: "label-#{yield(:class_text)}" %>
  <%= f.password_field :password, class: "form-control" %>

  <%= f.label :password_confirmation, class: "label-#{yield(:class_text)}" %>
  <%= f.password_field :password_confirmation, class: "form-control" %>

  <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
<% end %>