<%= form_with(model: @user, local: true) do |f| %>
 <%= render 'shared/error_messages', object: @user %>

<div class="col-md-5 col-xs-12">
   <% if !@user.image? %>
    <div class="image"><img src="/uploads/Noimage_image.png"  width="200px" style="height: 200px; object-fit: cover; border-radius: 50%; margin-left:80px"/></div>
  <% else %>
    <div class="image"><%= image_tag @user.image.url, :style =>'width: 200px; height: 200px;object-fit: cover; border-radius: 50%; margin-left:80px' %></div>
  <% end %>
  <h3 style="margin-left:100px;"><%= f.label :image,"ユーザー画像" %></h3>
  <%= f.file_field :image, accept: 'image/jpeg,image/gif,image/png' %>
</div>

<div class="col-md-6 col-xs-12">
  <span class="must">必須</span><%= f.label :name, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :name, class: "form-control" %>

  <span class="must">必須</span><%= f.label :email, class: "label-#{yield(:class_text)}" %>
  <%= f.email_field :email, class: "form-control" %>
  
  <span class="free">任意</span><%= f.label :bike, class: "label-#{yield(:class_text)}" %>
  <%= f.text_field :bike, class: "form-control" %>
  
  <span class="free">任意</span><%= f.label:displacement, class: "label-#{yield(:class_text)}" %>
  <%= f.number_field :displacement, class: "form-control" %>
  
  <div>
    <%= f.label:intercom, class: "label-#{yield(:class_text)}" %>
    <%= f.check_box :intercom %>
  </div>

  <div>
    <%= f.label:etc, class: "label-#{yield(:class_text)}" %>
    <%= f.check_box :etc %>
  </div>
  
  <div>
    <%= f.label:navi, class: "label-#{yield(:class_text)}" %>
    <%= f.check_box :navi %>
  </div>
  
  <span class="free">任意</span><%= f.label:continuous_cruising_distance, class: "label-#{yield(:class_text)}" %>
  <%= f.number_field :continuous_cruising_distance, class: "form-control" %>
  
  <span class="must">必須</span><%= f.label :password, class: "label-#{yield(:class_text)}" %>
  <%= f.password_field :password, class: "form-control" %>

  <span class="must">必須</span><%= f.label :password_confirmation, class: "label-#{yield(:class_text)}" %>
  <%= f.password_field :password_confirmation, class: "form-control" %>

  <%= f.submit yield(:button_text), class: "btn btn-primary btn-block btn-#{yield(:class_text)}" %>
</div>
<% end %>


<!--<style>-->
<!--  .image {-->
<!--    width:  480px;-->
<!--    height: 480px;-->
<!--    border-radius: 50%;-->
<!--    background-position: center center;-->
  <!--border: 9px solid #00cc00; /* 枠線を付加 */-->
<!--}-->
<!--</style>-->

<script type="text/javascript">
  $('#user_image').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>

<style>

/* 必須マーク */
.must {
	background: #FF1A00;
}

/* 任意マーク */
.free {
	background: #999;
}

.must,
.free {
	color: #FFF;
	border-radius: 3px;
	font-size: 12px;
	margin-right: 10px;
	padding: 5px 10px;
	letter-spacing: 0.2em;
}

#wrapper {
      height: 550px;
      overflow-y: scroll;
}

#contents {
      background-color: cadetblue;
}

h1{
  padding: .5em .75em;
  background-color: #f6f6f6;
  border: 3px double #ccc;
}
</style>