<% if !current_user?(plan.secretary_id) %>
    <span class="sanka">
    <% if plan.sanka?(current_user) %>
      <%= form_for(plan.sankas.find_by(user_id: current_user.id), method: :delete, remote: true) do |f| %>
       <%= f.submit "参加キャンセル", class: "btn btn-primary btn-other" %>
      <% end %>
    <% else %>
      <%= form_for(plan.sankas.build, remote: true) do |f| %>
        <div><%= hidden_field_tag :plan_id, plan.id %></div>
           <%= f.label :comment, class: "label-signup" %>
           <%= f.text_area :comment, size: "10x5", class: "form-control" %>
           
           <%= f.submit "参加", class: "btn btn-primary btn-other" %>
      <% end %>
    <% end %>
  </span>
<% end %>