<% provide(:title, 'plan') %>
<h1>イベント一覧</h1>
<div class="row">
  
  <div class="col-md-3 col-xs-12">
    <p>LINEの友達登録をすると<br>新規企画のお知らせの他、<br>
       参加予定の企画についての<br>お知らせが来るようになります！
    <div class="line-it-button" data-lang="ja" data-type="friend" data-lineid="@595zmbtd" data-count="true" style="display: none;"></div>
     <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
    </p>
   <img class="qrcode hidden-xs" src="/595zmbtd.png" >
  </div>
 
<div class="col-md-9 col-xs-12">
  <% @plans.each do |plan| %>
  <%= will_paginate %>
  <div class="row" style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;"> 
   <div class="col-md-4 col-xs-12">
    <div class="picture"><%= image_tag plan.picture.url if plan.picture? %></div>
     <% if !plan.picture? %>
      <div class="picture"><img src="/uploads/Noimage_image.png"/></div>
     <% end %>
   </div>  
   <div class="col-md-8 col-xs-12">
    <table class="table" style="table-layout: fixed;">
     <tr>
       <td width="80"><b><span>タイトル:</span></b></td>
       <td><%=plan.purpose%></td>
     </tr>
     <tr>
       <td><b><span>ルート:</span></b></td>
       <td><%=plan.meeting_place%>〜
       <% if plan.passing_point1.present? %>
        <%=plan.passing_point1%>〜
       <% end %>  
       <% if plan.passing_point2.present? %>
        <%=plan.passing_point2%>〜
       <% end %>  
       <% if plan.passing_point3.present? %>
        <%=plan.passing_point3%>〜
       <% end %>  
       <% if plan.passing_point4.present? %>
        <%=plan.passing_point4%>〜
       <% end %>  
       <% if plan.passing_point5.present? %>
        <%=plan.passing_point5%>〜
       <% end %>  
       <%=plan.destination%></td>
     </tr>
     <tr>
       <td><b><span>日時:</span></b></td>
       <% if l(plan.meetdate, format: :default).to_s == l(plan.finish_date, format: :default).to_s%> 
        <td><%=l(plan.meetdate, format: :long)%>〜<%=l(plan.finish_date, format: :time)%></td>
       <% else %> 
        <td><%=l(plan.meetdate, format: :long)%>〜<%=l(plan.finish_date, format: :long)%></td>
       <% end %>
     </tr>
     <tr>
       <td><b><span>幹事:</span></b></td>
       <td><%=User.find(plan.secretary_id).name %></td>
     </tr>
     <tr>
       <td><b><span>締め切り:</span></b></td>
       <td><%=l(plan.deadline_date, format: :default)%></td>
     </tr>
     <td><%= link_to "詳細", plan_path(plan) ,class: "btn btn-primary btn-edit"%>
       <% if plan.secretary_id.to_s == current_user.id.to_s %>
       <%= link_to "削除", plan, method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary btn-edit"%></td>
                <td></td>
       <% else %>
        <td></td>
       <% end %> 
     </table>
    </div>
  </div>
  <%= will_paginate %>
  <% end %>
  
  <div class="new-point-button-area">
  <%= link_to "ツーリングを企画する",new_plan_path,class: "btn btn-lg btn-primary btn-add" %>
  </div>
</div>
</div>