<% provide(:title, 'plan') %>
<h1>ツーリング企画一覧</h1>
<div class="row">
  
  <div class="col-md-4">
    <p>LINEの友達登録をすると<br>新規企画のお知らせが来ます<br>
    <div class="line-it-button" data-lang="ja" data-type="friend" data-lineid="@595zmbtd" data-count="true" style="display: none;"></div>
 <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>
    
    </p>
   <img class="qrcode" src="/595zmbtd.png" >
  </div>
<div class="col-md-7">
  <table class="table table-bordered table-condensed base-table">
    <tr>
      <td></td>
      <td></td>
      <td>目的</td>
      <td>日時</td>
      <td>幹事</td>
    </tr>
  <% @plan.each do |plan| %>
    <tr>
      <td><%= link_to "詳細", plan_path(plan) ,class: "btn btn-primary btn-edit"%></td>
      <% if plan.secretary_id.to_s == current_user.id.to_s %>
      <td><%= link_to "削除", plan, method: :delete,
                data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary btn-edit"%></td>
      <% else %>
      <td></td>
      <% end %> 
      <td><%=plan.purpose%></td>
      <td><%=l(plan.meetdate, format: :long)%>〜<%=l(plan.finish_date, format: :long)%></td>
      <td><%=User.find(plan.secretary_id).name %></td>
    </tr>
  <% end %>
  </table>
  <div class="new-point-button-area">
  <%= link_to "ツーリングを企画する",new_plan_path,class: "btn btn-lg btn-primary btn-add" %>
  </div>
</div>
</div>