<% provide(:title, @plan.purpose) %>

<h1><%=@plan.purpose%></h1>
 <div class="col-md-12 col-xs-12">
  <table class="table">
    <tr>
     <td><b><span>日時:</span></b></td>
       <% if l(@plan.meetdate, format: :default).to_s == l(@plan.finish_date, format: :default).to_s%> 
        <td><%=l(@plan.meetdate, format: :long)%>〜<%=l(@plan.finish_date, format: :time)%></td>
       <% else %> 
        <td><%=l(@plan.meetdate, format: :long)%>〜<%=l(@plan.finish_date, format: :long)%></td>
       <% end %>
    </tr>
    <tr>
     <td><b><span>集合場所:</span></b></td>
     <td><%=@plan.meeting_place%></td>
    </tr>
    <tr>
     <td><b><span>ルート:</span></b></td>
     <td><%=@plan.meeting_place%>〜
       <% if @plan.passing_point1.present? %>
        <%=@plan.passing_point1%>〜
       <% end %>  
       <% if @plan.passing_point2.present? %>
        <%=@plan.passing_point2%>〜
       <% end %>  
       <% if @plan.passing_point3.present? %>
        <%=@plan.passing_point3%>〜
       <% end %>  
       <% if @plan.passing_point4.present? %>
        <%=@plan.passing_point4%>〜
       <% end %>  
       <% if @plan.passing_point5.present? %>
        <%=@plan.passing_point5%>〜
       <% end %>  
       <%=@plan.destination%></td>
    </tr>
    <tr>
      <td><b><span>幹事:</span></b></td>
      <td><%=User.find(@plan.secretary_id).name %></td>
    </tr>
    <tr>
      <td><b><span>概要:</span></b></td>
      <td><%=@plan.overview%></td>
    </tr>
    <tr>
      <td><b><span>企画作成日:</span></b></td>
      <td><%= l(@plan.created_at, format: :default)%></td>
    </tr>
    <tr>
      <td><b><span>企画更新日:</span></b></td>
      <td><%= l(@plan.updated_at, format: :default)%></td>
    </tr>
    <tr>
      <td><b><span>注意事項:</span></b></td>
      <td><%=@plan.caution%></td>
    </tr>
  </table>
  <% if current_user.id.to_s == @plan.secretary_id.to_s%>
    <%= link_to "修正", edit_plan_path(@plan) ,class: "btn btn-primary btn-other"%>
    <% if @plan.deadline_date && Date.current >= @plan.deadline_date %>
    <input class="btn btn-primary btn-other" type="button"  value="こちらのツーリングは締め切られました。" disabled>
  　 <% end %>
  <% else %>
    <% if @plan.deadline_date && Date.current >= @plan.deadline_date %>
     <input class="btn btn-primary btn-other" type="button"  value="こちらのツーリングは締め切られました。" disabled>
    <% else %>
     <%= render "sankas/sanka", plan: @plan %>
    <% end %>
   <% end %>
      <% Sanka.where(plan_id: @plan.id).each do |sanka| %>
      <div style="padding: 10px; margin-bottom: 10px; border: 1px solid #333333;">
       <b>名前:<%=User.find(sanka.user_id).name%></b><br>
          ・バイク：<%=User.find(sanka.user_id).bike%><br>
          ・排気量：<%=User.find(sanka.user_id).displacement%>
          <% if User.find(sanka.user_id).intercom? %><br>
          ・インカム持ち
          <% end %>
          <% if User.find(sanka.user_id).etc? %><br>
          ・ETCあり
          <% end %>
          <% if User.find(sanka.user_id).navi? %><br>
          ・ナビあり
          <% end %>
          <% if User.find(sanka.user_id).continuous_cruising_distance.present? %><br>
          ・継続巡航距離:<%=User.find(sanka.user_id).continuous_cruising_distance%>Km<br>
          <% end %>
          コメント<br>
          <%=sanka.comment%> 
      </div>
     <% end %>
</div>
 
<!--モーダルウインドウ表示-->
<div id="edit-zangyo-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="approval-zangyo-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="approval-change-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="approval-one-month-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
