<% provide(:title, @plan.purpose) %>
<h1><%=@plan.purpose%></h1>
 <div class="col-md-12 col-xs-12">
  <table class="table">
    <tr>
     <td><b>日時:</b></td>
       <% if l(@plan.meetdate, format: :default).to_s == l(@plan.finish_date, format: :default).to_s%> 
        <td><%=l(@plan.meetdate, format: :long)%>〜<%=l(@plan.finish_date, format: :time)%></td>
       <% else %> 
        <td><%=l(@plan.meetdate, format: :long)%>〜<%=l(@plan.finish_date, format: :long)%></td>
       <% end %>
    </tr>
    <tr>
     <td><b>集合場所:</b></td>
     <td><%=@plan.meeting_place%></td>
    </tr>
    <tr>
     <td><b>ルート:</b></td>
     <td><%=@plan.meeting_place%>〜
       <% if @plan.passing_point1.present? %>
        <%=@plan.passing_point1%>〜
       <% end %>  
       <% if @plan.passing_point2.present? %>
        <%=@plan.passing_point2%>〜
       <% end %>  
       <% if @plan.passing_point3.present? %>
        <%=@plan.passing_point3%>〜
       <% end %>  
       <% if @plan.passing_point4.present? %>
        <%=@plan.passing_point4%>〜
       <% end %>  
       <% if @plan.passing_point5.present? %>
        <%=@plan.passing_point5%>〜
       <% end %>  
       <%=@plan.destination%></td>
    </tr>
    <tr>
      <td><b>幹事:</b></td>
      <td><%=User.find(@plan.secretary_id).name %></td>
    </tr>
    <tr>
      <td><b>概要:</b></td>
      <td><%=@plan.overview%></td>
    </tr>
    <tr>
      <td><b>企画作成日:</b></td>
      <td><%= l(@plan.created_at, format: :default)%></td>
    </tr>
    <tr>
      <td><b>企画更新日:</b></td>
      <td><%= l(@plan.updated_at, format: :default)%></td>
    </tr>
    </tr>
  </table>
  <% if current_user.id.to_s == @plan.secretary_id.to_s%>
    <%= link_to "修正", edit_plan_path(@plan) ,class: "btn btn-primary btn-other"%>
    <% if @plan.deadline_date && Date.current >= @plan.deadline_date %>
    <input class="btn btn-primary btn-other" type="button"  value="こちらのツーリングは締め切られました。" disabled>
  　 <% end %>
  <% else %>
    <% if @plan.deadline_date && Date.current >= @plan.deadline_date %>
     <input class="btn btn-primary btn-other" type="button"  value="こちらのツーリングは締め切られました。" disabled>
    <% else %>
     <%= render "sankas/sanka", plan: @plan %>
    <% end %>
   <% end %>
    <table class="table table-bordered table-condensed table-hover">
     <thead>
      <tr>
       <th>参加者</th>
       <th>バイク</th>
       <th>排気量</th>
       <th>インカム持ち</th>
       <th>ETC</th>
       <th>ナビ</th>
       <th>継続巡航距離</th>
       <th>コメント</th>
      </tr>
     </thead>
      <tr>
       <% Sanka.where(plan_id: @plan.id).each do |sanka| %>
       <td><%=User.find(sanka.user_id).name%></td>
       <td><%=User.find(sanka.user_id).bike%></td>
       <td><%=sanka.comment%></td>
      </tr>
     <% end %>
     </table>
</div>
 
<!--モーダルウインドウ表示-->
<div id="edit-zangyo-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="approval-zangyo-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="approval-change-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
<div id="approval-one-month-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
